ol, ul {
    width: 75%;
-webkit-padding-start: 5%;
-webkit-padding-end: 5%;
}
p, footer, table {width: 80%;}
p, ol, ul {font-size: 1.1rem;}
p {
    line-height: 1.4rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}
pre {
    width: 52.5%;
    overflow-x: visible;
    word-wrap: normal;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
